# Project
samples/test-data
*.dSYM
judger/bin/fdiff

# npm
node_modules
*.log
*.log.*
*.gz

# bower
bower_components

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

