extends layout

append head
	link(rel='stylesheet' href='/stylesheets/homepage.css')

block content
	div.wrapper
		div.row.fullheight
			img(style='width:100%;' src='/images/ccsp.png')
			div(style='min-height: 64%')
			img(style='width:100%;' src='/images/colleges.jpg')
