block head
	head
		- if (title)
			title= title
		- else
			title TUOJ
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
body
	div.container-fluid
		div.container-fluid
			nav.navbar.navbar-default
				div.container-fluid
					div.navbar-header
						a.navbar-brand(href='/') 
							img(style='height: 100%' src='/images/logo.png')
						button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#pagenav' aria-expanded='false')
							span.icon-bar
							span.icon-bar
							span.icon-bar
					div.collapse.navbar-collapse#pagenav
						ul.nav.navbar-nav.navbar-left
							li
								a(href="/contests") 比赛列表
							- if (is_admin)
								li
									a(href="/problem_pool") 题目池
								li
									a(href="/addcontests") 添加比赛
								li
									a(href="/status/1") 评测队列
							li
								a(href='/faq/faq') FAQ
						ul.nav.navbar-nav.navbar-right
							- if (!user)
								li
									a(href="/login") 登入
							- else
								li
									a 您好, #{call ? call : user}
								li
									a(href="/logout") 注销
		div.content-main
			div.container-fluid
				block content

	
