extends layout

append head
	link(rel='stylesheet' href='/bower_components/highlightjs/styles/default.css')
	script(src='/bower_components/highlightjs/highlight.pack.min.js')
	script hljs.initHighlightingOnLoad();

block content
	div.container
		ul.list-group
			li.list-group-item
				p 这里是选手须知但是我还不知道要写什么 

