<!DOCTYPE html>
<html lang="en">

		<body>
				<%include header.ejs %>
				<%include navigator.ejs %>

				<div class="container">

						<div class="starter-template">
								<h1>Bootstrap starter template</h1>
								<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
						</div>

				</div><!-- /.container -->


				<!-- Bootstrap core JavaScript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
			<script src="/javascripts/bootstrap.min.js"></script>
			<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
			<script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
		</body>
</html>


